<!DOCTYPE html>
{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static "szalonebembeny/css/bootstrap.css" %}"
/>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static "szalonebembeny/js/bootstrap.js" %}"> </script>
</head>
<body style="background-image: url('{% static 'img/background2.jpg' %}')" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main' %}">Szalone Bembeny</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'categories' %}">Kategorie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Produkty</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj produkt lub kategorię" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Wyszukaj</button>
      </form>
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}
<footer style="background-color: white; padding: 10px">
    {% if user.is_authenticated %}
        Zalogowany jako {{ user }}
        <a class="btn btn-secondary btn-sm mx-1" href="{% url 'cart' %}">Twój koszyk</a>
        <a class="btn btn-success btn-sm mx-1" href="{% url 'orders' %}">Twoje zamówienia</a>
        <a class="btn btn-danger btn-sm mx-1 float-end" href="{% url 'logout' %}">Wyloguj</a>
        <a class="btn btn-warning btn-sm mx-1 float-end" href="{% url 'reset-password' %}">Zmiana hasła</a>
        <a class="btn btn-info btn-sm mx-1 float-end" href="{% url 'profile-edit' %}">Edytuj profil</a>
    {% else %}
        <a class="btn btn-success mx-1" href="{% url 'login' %}">Zaloguj</a>
        <a class="btn btn-warning mx-1" href="{% url 'register' %}">Rejestruj</a>
    {% endif %}
</footer>
</body>
</html>