<!DOCTYPE html>
{% load static %}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('{% static 'img/background2.jpg' %}')" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main' %}">Music Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'categories' %}">Kategorie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Produkty</a>
        </li>
      </ul>
      <form class="d-flex" method="post" action="{% url 'search' %}">
          {% csrf_token %}
        <input name="search" class="form-control me-2" type="search" placeholder="Wyszukaj produkt lub kategorię" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Wyszukaj</button>
      </form>
    </div>
  </div>
</nav>
<div class="p-2" style="background-color: white">
    {% if user.is_authenticated %}
        Zalogowany jako {{ user }}
        <a class="btn btn-secondary btn-sm mx-1" href="{% url 'cart' %}">Twój koszyk</a>
        <a class="btn btn-success btn-sm mx-1" href="{% url 'orders' %}">Twoje zamówienia</a>
        <a class="btn btn-dark btn-sm mx-1" href="{% url 'liked_products' %}">Polubione produkty</a>
        <a class="btn btn-danger btn-sm mx-1 float-end" href="{% url 'logout' %}">Wyloguj</a>
        <a class="btn btn-warning btn-sm mx-1 float-end" href="{% url 'reset-password' %}">Zmiana hasła</a>
        <a class="btn btn-info btn-sm mx-1 float-end" href="{% url 'profile-edit' %}">Edytuj profil</a>
    {% else %}
        <a class="btn btn-success mx-1" href="{% url 'login' %}">Zaloguj</a>
        <a class="btn btn-warning mx-1" href="{% url 'register' %}">Rejestruj</a>
    {% endif %}
</div>

{% block content %}
{% endblock %}

<script>
    setTimeout(function () {
        let monit = document.getElementById('msg');
        if (monit) {
            monit.remove();
        }
    }, 2000)
</script>

</body>
</html>