{% extends "base.html" %}

{% block title %}
    Twój koszyk
{% endblock %}

{% block content %}
    <div class="container p-2 my-4" style="background-color: white">
    <h2>Twój koszyk{{ emptycart }}</h2>
    </div>
    {% if emptycart == '' %}
    <table class="table container my-4" style="background-color: white">
    <thead>
    <tr class= "text-color-darker">
        <th scope="col">Nazwa produktu</th>
        <th scope="col">Cena</th>
        <th scope="col">Ilość</th>
        <th scope="col">Łączna kwota</th>
    </tr>
    </thead>
    <tbody class="text-color-lighter">
    {% for product in cart.products.all|dictsort:'name' %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} zł</td>
            {% for cartproduct in product.cartproducts_set.all %}
                {% if cartproduct.cart.user == user %}
                    <td>
                    <form method="post">
                        {% csrf_token %}
                        <input name="product_id" type="text" hidden value="{{ product.id }}">
                        <button name="sub" class="btn btn-outline-danger btn-sm" style="border-width: 2px; font-size: 20px; line-height: 25px; width: 40px" type="submit" value="-1">&#8722;</button>
                        {{ cartproduct.amount }}
                        <button name="add" class="btn btn-outline-success btn-sm" style="border-width: 2px; font-size: 20px; line-height: 25px; width: 40px" type="submit" value="+1">&#65291;</button>
                    </form>
                    </td>
                    <td>{% widthratio product.price 1 cartproduct.amount %}.00 zł</td>
                {% endif %}
            {% endfor %}
            <td><a type="button" class="btn btn-danger" href="{% url 'cart-product-delete' slug=product.slug %}">Usuń z koszyka</a></td>
        </tr>
    {% endfor %}
    <tr>
        <td></td><td></td><td></td><td>{% if cart.products.all|length > 1 %}{{ full_cost }} zł{% endif %}</td><td><a type="button" class="btn btn-primary" href="{% url 'order_add' %}">Przejdź do zamówienia</a> </td>
    </tr>
    </table>
        <div class="container d-flex justify-content-center">
            {% include 'messages.html' %}
        </div>
    {% endif %}
{% endblock %}