{% extends "base.html" %}

{% block title %}
    Music Shop
{% endblock %}

{% block content %}
<table class="table container my-4" style="background-color: white">
    <tr>
        <th>Najlepiej ocenianie produkty:</th>
        <th>Ocena:</th>
    </tr>
    {% for product in products %}
    <tr>
        <td><a href="{% url 'product' slug=product.slug %}">{{ product.name }}</a></td>
        <td>{{ product.score }}</td>
    </tr>
    {% endfor %}
</table>
<div class="container-fluid bg-light p-2 mt-lg-5">
    <div class="row p-2">
        <div class="col p-2">
            <h4>O nas</h4>
            <p>Jesteśmy sklepem sprzedającym instrumenty, sprzęt i akcesoria muzyczne. Działamy od 2012 roku. Prowadzimy nasz sklep z pasją i ogromnym zaangażowaniem.</p>
        </div>
        <div class="col">
            <h4>Kontakt</h4>
            <ul>
                <li>Adres: Muzyczna 15 00-005 Warszawa</li>
                <li>Numer telefonu: 782-584-232</li>
                <li>Adres E-mail: sklep@musicshop.pl</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}