{% extends "base.html" %}

{% block title %}
    Składanie zamówienia
{% endblock %}

{% block content %}
    <div class="container p-2 my-4" style="background-color: white">
    <h2>Podsumowanie zamówienia</h2>
    <table class="table container my-4" style="background-color: white">
    <thead>
    <tr class= "text-color-darker">
        <th scope="col">Nazwa produktu</th>
        <th scope="col">Cena</th>
        <th scope="col">Ilość</th>
        <th scope="col">Łączna kwota</th>
    </tr>
    </thead>
    <tbody class="text-color-lighter">
    {% for product in cart.products.all %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} zł</td>
            {% for cartproduct in product.cartproducts_set.all %}
                {% if cartproduct.cart.user == user %}
                    <td>{{ cartproduct.amount }}</td>
                    <td>{% widthratio product.price 1 cartproduct.amount %}.00 zł</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    {% if cart.products.all|length > 1 %}
    <tr>
        <td></td><td></td><td></td><td>{{ full_cost }} zł</td>
    </tr>
    {% endif %}
    </table>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Złóż zamówienie">
        <a href="{% url 'cart' %}" class="btn btn-danger">Wróc do koszyka</a>
    </form>
    </div>
{% endblock %}