{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container p-2 my-4" style="background-color: white">
    <h2>{{ title }}</h2>
    </div>
    <table class="table container my-4" style="background-color: white">
    <thead>
    <tr class= "text-color-darker">
        <th scope="col">Nazwa produktu</th>
        <th scope="col">Opis</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Cena</th>
        <th scope="col">Ocena</th>
    </tr>
    </thead>
    <tbody class="text-color-lighter">
    {% for product in products %}
        <tr>
        <td><a href="{% url 'product' slug=product.slug %}">{{ product.name }}</a></td>
        <td>{{ product.description }}</td>
        <td>
            {% if title == 'Wszystkie produkty' %}
            <a href="{% url 'category-products' id=product.category.id %}">{{ product.category }}</a>
            {% else %}
            {{ product.category }}
            {% endif %}
        </td>
        <td class="col-1">{{ product.price }}</td>
        <td class="col-1">{{ product.score }}</td>
        {% if perms.szalonebembeny.change_product %}
        <td class="col-1"><a type="button" class="btn btn-warning" href="{% url 'product-edit' slug=product.slug %}">Edytuj</a></td>
        {% endif %}
        {% if perms.szalonebembeny.delete_product %}
        <td><a type="button" class="btn btn-danger" href="{% url 'product-delete' slug=product.slug %}">Usuń</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    {% if perms.szalonebembeny.add_product %}
        <tr>
            <td><a type="button" class="btn btn-primary" href="{% url 'product-add' %}">Dodaj Produkt</a></td>
        </tr>
    {% endif %}
    </tbody>
    </table>
{% endblock %}