{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <table class="table" style="background-color: white; margin: 50px">
    <thead>
    <tr class= "text-color-darker">
        <th scope="col">Nazwa produktu</th>
        <th scope="col">Opis</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Cena</th>
        <th scope="col">Średnia ocena</th>
    </tr>
    </thead>
    <tbody class="text-color-lighter">
    {% for product in products %}
        <tr>
        <td class="col-1">{{ product.name }}</td>
        <td class="col-3">{{ product.description }}</td>
        <td class="col-1">
            {% if title == 'Wszystkie produkty' %}
            <a href="{% url 'category-products' id=product.category.id %}">{{ product.category }}</a>
            {% else %}
            {{ product.category }}
            {% endif %}
        </td>
        <td class="col-1">{{ product.price }}</td>
        <td class="col-1">{{ product.score }}</td>
        {% if perms.szalonebembeny.modify_product and perms.szalonebembeny.delete_product %}
        <td class="col-1"><a type="button" class="btn btn-warning" href="{% url 'product-edit' slug=product.slug %}">Edytuj</a></td>
        <td><a type="button" class="btn btn-danger" href="{% url 'product-delete' slug=product.slug %}">Usuń</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    {% if perms.szalonebembeny.add_product %}
        <tr>
            <td><a type="button" class="btn btn-primary" href="{% url 'product-add' %}">Dodaj Produkt</a></td>
        </tr>
    {% endif %}
    </tbody>
    </table>
{% endblock %}